@import "tailwindcss";

@theme {
  --color-page: #0a0a0a;
  --color-primary: #ededed;
  --color-accent-green: #00FF41;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --animate-shimmer: shimmer 2s linear infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100%);
    }
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-page);
    color: var(--color-primary);
    scroll-behavior: smooth;
  }

  body {
    /* applying specific utilities */
    background-color: var(--color-page);
    color: var(--color-primary);
    @apply antialiased;
  }
}

@utility bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  @apply fixed inset-0 z-0 pointer-events-none;
}

@utility console-cursor {
  &::after {
    content: '_';
    animation: cursor-blink 1s step-end infinite;
    @apply ml-1 text-accent-green;
  }
}

@keyframes cursor-blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@utility scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}